[Unit]
Description=Zavtrachat Telegram bot
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStartPre=/usr/bin/git pull
ExecStart=/usr/local/go/bin/go run /home/zavtrachat_bot/main.go
Restart=always
RestartSec=2
TimeoutStopSec=5
User=zavtrachat_bot
WorkingDirectory=/home/zavtrachat_bot

[Install]
WantedBy=multi-user.target
